<div class="container">
  <h2 class="d-none">Características</h2>
  <div class="features row">
    <div class="feature col-12 col-md-4">
      <div class="icono"><i class="far fa-comments"></i></div>
      <div class="texto">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore, quasi minus. Quis ipsa placeat aspernatur! Voluptatibus consequuntur at qui exercitationem laboriosam voluptates minus, veniam labore obcaecati odit cupiditate, optio perspiciatis!</div>
    </div>
    <div class="feature col-12 col-md-4">
        <div class="icono"></div>
        <div class="texto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem sunt fugit natus velit incidunt aspernatur voluptas unde. Nesciunt ipsam tempore dolorum, nostrum culpa voluptatibus odio officiis veritatis provident? Quia, cum!</div>
    </div>
    <div class="feature col-12 col-md-4">
        <div class="icono"></div>
        <div class="texto">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores minus cum ratione dolor non ut, officiis in vitae labore dolorum commodi et ipsum similique obcaecati excepturi necessitatibus fuga enim delectus!</div>
    </div>
  </div>
</div>