<div class="container">
  <h2 class="d-none">Características</h2>
  <h3 class="text-center">La comunicación entre guardes y familias nunca fue tan fácil.</h3>
  <div class="features row">
    <div class="feature col-12 col-md-6 col-lg-3">
      <div class="icono"><i class="far fa-comments"></i></div>
      <div class="texto">Intercambio de observaciones diarias de forma rápida y sencilla.</div>
    </div>
    <div class="feature col-12 col-md-6 col-lg-3">
        <div class="icono"><i class="far fa-bell"></i></div>
        <div class="texto">Siempre al tanto de las novedades mediante notificaciones push.</div>
    </div>
    <div class="feature col-12 col-md-6 col-lg-3">
        <div class="icono"><i class="far fa-calendar-alt"></i></div>
        <div class="texto">Publicación de actividades y eventos y confirmación en un solo click.</div>
    </div>
    <div class="feature col-12 col-md-6 col-lg-3">
        <div class="icono"><i class="far fa-money-bill-alt"></i></div>
        <div class="texto">No más sobres de dinero paseando gracias a nuestra pasarela de pago.</div>
    </div>
  </div>
</div>
