<div class="loginarea" *ngIf="!isLogged">
  <button class="loginarea-button btn btn-outline-primary" type="submit" (click)="handleLoginArea()">Iniciar sesión</button>
</div>





<div class="loginarea" *ngIf="isLogged">
  <button class="loginarea-bell btn btn-outline-primary" type="submit"><i class="fas fa-bell"></i></button>
  <button class="loginarea-button btn btn-outline-primary" type="submit" (click)="handleLogoutArea()"><i class="loginarea-logout fas fa-sign-out-alt"></i></button>
</div>
<router-outlet></router-outlet>

