<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-4">La comunicación entre guardes y familias nunca fue tan fácil.</h1>
      <p class="lead">Crea tu cuenta ahora.</p>
      <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary mr-2" (click)="handleSignup('educadores')">
            <input type="radio" name="tipoUsuario" value="educador">Educadores
          </label>
          <label class="btn btn-secondary" (click)="handleSignup('familiares')">
            <input type="radio" name="tipoUsuario" value="familiar">Familiares
          </label>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
