<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h2 class="d-none">Registro</h2>
      <h3 class="text-center">Crea tu cuenta con nosotros. Es gratis.</h3>
      <div class="btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary mr-2" (click)="handleSignup('educadores')">
            <input type="radio" name="tipoUsuario" value="educador">Educadores
          </label>
          <label class="btn btn-secondary" (click)="handleSignup('familiares')">
            <input type="radio" name="tipoUsuario" value="familiar">Familiares
          </label>
        </div>
    </div>
  </div>
  <router-outlet></router-outlet>
