.login .fondo{
    background-image: url('../../assets/img/cubos.jpg');
    background-size: cover;
    background-position: center;
    height: 200px;
}

.formulario-wrapper{
    margin-top: 100px;
    padding: 50px 50px;
    border: 1px solid #45322E;
    border-radius: 5px;
}

.tipo{
    margin: 20px 0;
}
.formulario-login label{
    font-family: 'Lato', sans-serif;
    color: #45322E;
}
.formulario-login .input{
    border: none;
    border-bottom: 1px solid #4E668F;
    border-radius: 0;
}

.formulario-login .input:focus{
    box-shadow: none;
    border-bottom: 2px solid #38674D;
}

.error{
    color: #f00;
}

h1{
    display: none;
}

h2{
    font-size: 1.5rem;
}

.intro{
    font-family: 'Pangolin', sans-serif;
    color: #45322E;
    margin-bottom: 10px;
}

.btn-login{
    width: 100px;
    margin: auto;
    margin-top: 50px;
    border-radius: 20px;
}

@media screen and (min-width: 768px){
    .login .fondo{
        height: 100vh;;
    }
}

@media screen and (min-width: 992px) {
    h2{
        font-size: 1.8rem;
    }
    .intro a{
        font-size: 1.2rem;
    }
}