    <div id="wrapper">
        <div id="sidebar-wrapper">
            <aside id="sidebar">
                <ul id="sidemenu" class="sidebar-nav">
                    <li>
                        <a href="#">
                            <span class="sidebar-icon"><i class="fa fa-dashboard"></i></span>
                            <span class="sidebar-title">Panel de actividad</span>
                        </a>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-2">
                            <span class="sidebar-icon"><i class="fa fa-user"></i></span>
                            <span class="sidebar-title">Perfil</span>
                            <b class="caret fa fa-caret-down"></b>
                        </a>
                        <ul id="submenu-2" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a [routerLink]="['/app', 'profile']"><i class="fa fa-caret-right"></i>Ver perfil</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Editar perfil</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-3">
                            <span class="sidebar-icon"><i class="fas fa-child"></i></span>
                            <span class="sidebar-title">Alumnos</span>
                            <b class="caret fa fa-caret-down"></b>
                        </a>
                        <ul id="submenu-3" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a [routerLink]="['/app','alumnos']"><i class="fa fa-caret-right"></i>Ver Alumnos</a></li>
                            <li><a [routerLink]="['/app','new']"><i class="fa fa-caret-right"></i>Añadir Alumno</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="accordion-toggle collapsed toggle-switch" data-toggle="collapse" href="#submenu-4">
                            <span class="sidebar-icon"><i class="fas fa-sticky-note"></i></span>
                            <span class="sidebar-title">Notificaciones</span>
                            <b class="caret fa fa-caret-down"></b>
                        </a>
                        <ul id="submenu-4" class="panel-collapse collapse panel-switch" role="menu">
                            <li><a href="#"><i class="fa fa-caret-right"></i>Enviadas</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i>Recibidas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span class="sidebar-icon"><i class="fas fa-envelope"></i></span>
                            <span class="sidebar-title">Circulares</span>
                        </a>
                    </li>
                </ul>
            </aside>            
        </div>
        <main id="page-content-wrapper" role="main">
        </main>
    </div> 
