<div class="container-fluid">
    <app-header></app-header>
    <main>
        <div class="seguimiento container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">De casa a la guarde</li>
                </ol>
            </nav>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="far fa-comment-alt"></i>
                    </span>
                </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">De la guarde a casa</li>
                </ol>
            </nav>
        </div>
    </main>

    <app-footer></app-footer>
</div>